<a href="https://colab.research.google.com/github/solenoid09/Food_Market_Analysis/blob/main/Reg_exinpyt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Regular Expressions in Python

Table of contents:


1.   match()
2.   search()
3.   findall()
4.   finditer()
5.   sub()
6.   split()
7.   Groups

In [1]:
import re

In [3]:
#Define a string
string = "Tiger is the national animal of India. Tiger lives in Forest."

#Define the pattern
pattern = "Tiger"

#Running match() on a string
result = re.match(pattern, string)

#Printing the result
print(result)

<re.Match object; span=(0, 5), match='Tiger'>

In [4]:
#Define a string
string = "Tiger is the national animal of India. Tiger lives in Forest."

#Define the pattern
pattern = "Tiger"

#Running match() on a string
result = re.match(pattern, string).group()

#Printing the result
print(result)

Tiger

In [6]:
#Define a string
string = "The national animal of India is Tiger. Tiger lives in Forest."

#Define the pattern
pattern = "Tiger"

#Running match() on a string
result = re.match(pattern, string)

#Printing the result
print(result)

None

In [7]:
#Define a string
string = "The national animal of India is Tiger. Tiger lives in Forest."

#Define the pattern
pattern = "Tiger"

#Running match() on a string
result = re.search(pattern, string)

#Printing the result
print(result)

<re.Match object; span=(32, 37), match='Tiger'>

In [8]:
#Define a string
string = "The national animal of India is Tiger. Tiger lives in Forest."

#Define the pattern
pattern = "Tiger"

#Running match() on a string
result = re.search(pattern, string).group()

#Printing the result
print(result)

Tiger

In [9]:
#Define a string
string = "The national animal of India is Tiger. Tiger lives in Forest."

#Define the pattern
pattern = "Tiger"

#Running match() on a string
result = re.findall(pattern, string)

#Printing the result
print(result)

['Tiger', 'Tiger']

In [10]:
#Define a string
string = "India got freedom on 15-08-1947, and it is celebrated as Independence Day.\
          Indian Constitution came into effect on 25-01-1950, and it is celebrated as Republic Day."

#Define the pattern
date_pattern = r'\d{2}-\d{2}-\d{4}'

#Running match() on a string
re.findall(date_pattern, string)

#Printing the result
#print(result)

['15-08-1947', '25-01-1950']

In [12]:
#Define a string
string = "The national animal of India is Tiger. Tiger lives in Forest."

#Define the pattern
pattern = "Tiger"

#Running match() on a string
result = re.finditer(pattern, string)

#Printing the result
for i in result:
  print(i)
  print(i.span())
  print(i.group())
  print('Start:',i.start(),'End:',i.end(), 'Sub-string:',i.group())
print(result)

<re.Match object; span=(32, 37), match='Tiger'>
(32, 37)
Tiger
Start: 32 End: 37 Sub-string: Tiger
<re.Match object; span=(39, 44), match='Tiger'>
(39, 44)
Tiger
Start: 39 End: 44 Sub-string: Tiger
<callable_iterator object at 0x7add45de8d00>

In [13]:
text = "analytics Vidhya is the largest data science community of India."

#Replacing a substring using sub()
result=re.sub('India', 'the World', text)

#Printing the result
print(result)

analytics Vidhya is the largest data science community of the World.

In [14]:
line = "I have a big test tomorrow; I can't go out tonight."

#Splitting a string into multiple substrings
re.split(r'[;]',line)

['I have a big test tomorrow', " I can't go out tonight."]

In [28]:
#Running a sample pattern on some text
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

pattern="[\w]+ [\w]+ \$[\d,]+ [a-zA-Z ]+ \d{2}-\d{2}-\d{4}"
result = re.findall(pattern, string)
print(result)
print(string)

['Ajay credited $500 to your account on 13-08-2020', 'Anmol debited $1,700 from your account on 14-08-2020', 'Alex debited $100 on 16-08-2020']
Ajay credited $500 to your account on 13-08-2020.      Anmol debited $1,700 from your account on 14-08-2020.      Alex debited $100 on 16-08-2020 from your account.

In [31]:
#Running a sample pattern on some text
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

#Creating groups in the previous pattern
pattern = "([\w]+) ([\w]+) (\$[\d,]+) [a-zA-Z ]+ (\d{2}-\d{2}-\d{4})"
result = re.findall(pattern, string)
print(result)

[('Ajay', 'credited', '$500', '13-08-2020'), ('Anmol', 'debited', '$1,700', '14-08-2020'), ('Alex', 'debited', '$100', '16-08-2020')]

In [30]:
import pandas as pd

#creating a dataframe
df=pd.DataFrame(result,columns=['Name','Type','Amount','Date'])
df
#

    Name      Type  Amount        Date
0   Ajay  credited    $500  13-08-2020
1  Anmol   debited  $1,700  14-08-2020
2   Alex   debited    $100  16-08-2020

In [33]:
#Running a sample pattern on some text
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

#Creating groups in the previous pattern
pattern = "([\w]+) ([\w]+) (\$[\d,]+) [a-zA-Z ]+ (\d{2}-\d{2}-\d{4})"
result = re.finditer(pattern, string)

for i in result:
  print(i.group(0), '=>', i.group(1),'=>', i.group(2),'=>', i.group(3),'=>', i.group(4))

#print(result)

Ajay credited $500 to your account on 13-08-2020 => Ajay => credited => $500 => 13-08-2020
Anmol debited $1,700 from your account on 14-08-2020 => Anmol => debited => $1,700 => 14-08-2020
Alex debited $100 on 16-08-2020 => Alex => debited => $100 => 16-08-2020

In [34]:
#Running a sample pattern on some text
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

#Naming groups
pattern = "(?P<Name>[\w]+) (?P<Type>[\w]+) (?P<Amount>\$[\d,]+) [a-zA-Z ]+ (?P<Date>\d{2}-\d{2}-\d{4})"
result = list(re.finditer(pattern, string))

for i in result:
  print(i.group('Name'), '=>', i.group('Amount'),'=>', i.group('Date'),'=>', i.group('Type'))

#print(result)

Ajay => $500 => 13-08-2020 => credited
Anmol => $1,700 => 14-08-2020 => debited
Alex => $100 => 16-08-2020 => debited

In [35]:
#Printing data with group names
for i in result:
  print(i.groupdict())

{'Name': 'Ajay', 'Type': 'credited', 'Amount': '$500', 'Date': '13-08-2020'}
{'Name': 'Anmol', 'Type': 'debited', 'Amount': '$1,700', 'Date': '14-08-2020'}
{'Name': 'Alex', 'Type': 'debited', 'Amount': '$100', 'Date': '16-08-2020'}

In [6]:
import regex as re

#assignment on Regex
text = "Sam started learning NLP on 02-01-2020. He created his first self project on 18-02-2019. After this, he worked hard and got an internship at ABC Pvt. Ltd. on 10-06-2019. Finally, he got his first job at XYZ Pvt. Ltd. on 22-10-2019."
pattern = "-2019"
repl = "-2020"

#To correct year in all the dates to 2020
result = re.sub(pattern, repl, text)
text_final = result
print(result)

Sam started learning NLP on 02-01-2020. He created his first self project on 18-02-2020. After this, he worked hard and got an internship at ABC Pvt. Ltd. on 10-06-2020. Finally, he got his first job at XYZ Pvt. Ltd. on 22-10-2020.

In [7]:
#Extract all the dates in the form of a list

date_pattern = r'\d{2}-\d{2}-\d{4}'

result = list(re.findall(date_pattern, text_final))
print(result)

['02-01-2020', '18-02-2020', '10-06-2020', '22-10-2020']

In [8]:
#Extract all the company Names
company_part = "\w+ Pvt. Ltd."

result = list(re.findall(company_part, text_final))
print(result)

['ABC Pvt. Ltd.', 'XYZ Pvt. Ltd.']